## ДЗ 1 (ОБЯЗАТЕЛЬНОЕ): Анализ температурных данных и мониторинг текущей температуры через OpenWeatherMap API

**Описание задания:**  
Вы аналитик в компании, занимающейся изучением климатических изменений и мониторингом температур в разных городах. Вам нужно провести анализ исторических данных о температуре для выявления сезонных закономерностей и аномалий. Также необходимо подключить API OpenWeatherMap для получения текущей температуры в выбранных городах и сравнить её с историческими данными.


### Цели задания:
1. Провести **анализ временных рядов**, включая:
   - Вычисление скользящего среднего и стандартного отклонения для сглаживания температурных колебаний.
   - Определение аномалий на основе отклонений температуры от $ \text{скользящее среднее} \pm 2\sigma $.
   - Построение долгосрочных трендов изменения температуры.
   - Любые дополнительные исследования будут вам в плюс.

2. Осуществить **мониторинг текущей температуры**:
   - Получить текущую температуру через OpenWeatherMap API.
   - Сравнить её с историческим нормальным диапазоном для текущего сезона.

3. Разработать **интерактивное приложение**:
   - Дать пользователю возможность выбрать город.
   - Отобразить результаты анализа температур, включая временные ряды, сезонные профили и аномалии.
   - Провести анализ текущей температуры в контексте исторических данных.
   - Любые графики должны быть интерактивными.


### Описание данных
Исторические данные о температуре содержатся в файле `temperature_data.csv`, включают:
  - `city`: Название города.
  - `timestamp`: Дата (с шагом в 1 день).
  - `temperature`: Среднесуточная температура (в °C).
  - `season`: Сезон года (зима, весна, лето, осень).

Код для генерации файла вы найдете ниже.

### Этапы выполнения

1. **Анализ исторических данных**:
   - Вычислить **скользящее среднее** температуры с окном в 30 дней для сглаживания краткосрочных колебаний.
   - Рассчитать среднюю температуру и стандартное отклонение для каждого сезона в каждом городе.
   - Выявить аномалии, где температура выходит за пределы $ \text{среднее} \pm 2\sigma $.
   - Попробуйте распараллелить проведение этого анализа. Сравните скорость выполнения анализа с распараллеливанием и без него.

2. **Мониторинг текущей температуры**:
   - Подключить OpenWeatherMap API для получения текущей температуры города. Для получения API Key (бесплатно) надо зарегистрироваться на сайте. Обратите внимание, что API Key может активироваться только через 2-3 часа, это нормально. Посему получите ключ заранее.
   - Получить текущую температуру для выбранного города через OpenWeatherMap API.
   - Определить, является ли текущая температура нормальной, исходя из исторических данных для текущего сезона.
   - Данные на самом деле не совсем реальные (сюрпрайз). Поэтому на момент эксперимента погода в Берлине, Каире и Дубае была в рамках нормы, а в Пекине и Москве аномальная. Протестируйте свое решение для разных городов.
   - Попробуйте для получения текущей температуры использовать синхронные и асинхронные методы. Что здесь лучше использовать?

3. **Создание приложения на Streamlit**:
   - Добавить интерфейс для загрузки файла с историческими данными.
   - Добавить интерфейс для выбора города (из выпадающего списка).
   - Добавить форму для ввода API-ключа OpenWeatherMap. Когда он не введен, данные для текущей погоды не показываются. Если ключ некорректный, выведите на экран ошибку (должно приходить `{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}`).
   - Отобразить:
     - Описательную статистику по историческим данным для города, можно добавить визуализации.
     - Временной ряд температур с выделением аномалий (например, точками другого цвета).
     - Сезонные профили с указанием среднего и стандартного отклонения.
   - Вывести текущую температуру через API и указать, нормальна ли она для сезона.

### Критерии оценивания

- Корректное проведение анализа данных – 1 балл.
- Исследование распараллеливания анализа – 1 балл.
- Корректный поиск аномалий – 1 балл.
- Подключение к API и корректность выполнения запроса – 1 балл.
- Проведение эксперимента с синхронным и асинхронным способом запроса к API – 1 балл.
- Создание интерфейса приложения streamlit в соответствии с описанием – 3 балла.
- Корректное отображение графиков и статистик, а также сезонных профилей – 1 балл.
- Корректный вывод текущей температуры в выбранном городе и проведение проверки на ее аномальность – 1 балл.
- Любая дополнительная функциональность приветствуется и оценивается бонусными баллами (не более 2 в сумме) на усмотрение проверяющего.

### Формат сдачи домашнего задания

Решение нужно развернуть в Streamlit Cloud (бесплатно)

*   Создаем новый репозиторий на GitHub.  
*   Загружаем проект.
*   Создаем аккаунт в [Streamlit Cloud](https://streamlit.io/cloud).
*   Авторизуемся в Streamlit Cloud.
*   Создаем новое приложение в Streamlit Cloud и подключаем GitHub-репозиторий.
*   Deploy!

Сдать в форму необходимо:
1. Ссылку на развернутое в Streamlit Cloud приложение.
2. Ссылку на код. Все выводы про, например, использование параллельности/асинхронности опишите в комментариях.

Не забудьте удалить ключ API и иную чувствительную информацию.

### Полезные ссылки
*   [Оформление задачи Титаник на Streamlit](https://github.com/evgpat/streamlit_demo)
*   [Документация Streamlit](https://docs.streamlit.io/)
*   [Блог о Streamlit](https://blog.streamlit.io/)

In [23]:
import pandas as pd
import numpy as np

# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

# Part 1

In [24]:
pivoted_table = data.pivot_table(['temperature'], ['timestamp','season'], ['city'])
pivoted_table

                  temperature                                            \
city                  Beijing    Berlin      Cairo      Dubai    London
timestamp  season
2010-01-01 winter   -4.189505 -1.039369  23.579268  12.396002  1.644274
2010-01-02 winter  -11.179086  6.820548  15.537114  18.267567  3.586346
2010-01-03 winter    2.955415 -4.141091  22.848044  26.317007  2.603369
2010-01-04 winter   -2.932768 -5.278209  13.753445  18.044701  6.471020
2010-01-05 winter    4.446264  5.582859  13.871079  23.686620  2.271179
...                       ...       ...        ...        ...       ...
2019-12-25 winter    4.484988 -4.384279  15.722103  16.304871  4.509942
2019-12-26 winter   -1.206495 -3.706866  18.798734  21.698296  5.253533
2019-12-27 winter   -3.096903  0.160818  16.615260  22.912661  2.506322
2019-12-28 winter   -9.952313 -0.500006  15.474842  20.152949  2.745103
2019-12-29 winter    6.113631 -1.995221   5.132212  20.494275  1.677178

                                                                           \
city              Los Angeles Mexico City     Moscow     Mumbai  New York
timestamp  season
2010-01-01 winter   10.577169   22.867961  -8.737276  31.808323 -7.402110
2010-01-02 winter    4.092794   11.719910  -6.363146  26.859072 -2.955005
2010-01-03 winter   14.493199   18.118506 -12.151734  25.580027  0.251810
2010-01-04 winter   10.624611   16.229651 -10.467690  28.549669 -8.182986
2010-01-05 winter   11.928550    1.677541 -13.751186  23.350670  2.344971
...                       ...         ...        ...        ...       ...
2019-12-25 winter   11.006040    5.371818  -8.199939  24.741077 -2.767236
2019-12-26 winter   14.365182   14.536448  -3.929442  21.668808  3.244293
2019-12-27 winter   20.118029   14.711967 -10.011577  26.833330 -1.848118
2019-12-28 winter    9.556850    4.021064  -7.947390  29.728606 -5.785572
2019-12-29 winter    9.629394   14.807215  -6.340156  26.325206 -0.034281


city                   Paris Rio de Janeiro  Singapore     Sydney      Tokyo
timestamp  season
2010-01-01 winter   6.870707      22.788323  24.983422  18.875170   5.265651
2010-01-02 winter   3.901786      20.154823  20.419134  26.036292   2.161840
2010-01-03 winter   6.769958      15.009417  25.558616  16.110444   4.272824
2010-01-04 winter   6.710907      24.365819  30.842528  13.459294  -2.170644
2010-01-05 winter   4.456895       9.419177  20.897191   8.319468   8.805077
...                      ...            ...        ...        ...        ...
2019-12-25 winter  -3.153033       7.163200  28.694297  12.439857  12.143131
2019-12-26 winter  -2.343334      15.826660  28.840095  10.585933   8.422664
2019-12-27 winter   1.515410      16.978397  37.711114   7.470476   3.149922
2019-12-28 winter  11.116884      23.927799  23.956089  18.496614   9.377550
2019-12-29 winter  -4.992475      19.127443  33.105950  16.036001  12.542056

[3650 rows x 15 columns]

In [25]:
windowed_mean = pivoted_table.rolling(window=30).mean()
# windowed_mean = pivoted_table.rolling(window=30,min_periods=1).mean()
windowed_mean

                  temperature                                            \
city                  Beijing    Berlin      Cairo      Dubai    London
timestamp  season
2010-01-01 winter         NaN       NaN        NaN        NaN       NaN
2010-01-02 winter         NaN       NaN        NaN        NaN       NaN
2010-01-03 winter         NaN       NaN        NaN        NaN       NaN
2010-01-04 winter         NaN       NaN        NaN        NaN       NaN
2010-01-05 winter         NaN       NaN        NaN        NaN       NaN
...                       ...       ...        ...        ...       ...
2019-12-25 winter    1.296204  3.346229  15.691395  21.475852  7.585303
2019-12-26 winter    0.766025  2.478303  15.520392  21.274725  7.220148
2019-12-27 winter    0.217521  2.127887  15.367989  20.925969  6.698864
2019-12-28 winter   -0.664062  1.856892  15.013026  20.505756  6.458481
2019-12-29 winter   -1.064814  1.478623  14.282747  20.144276  5.970608

                                                                          \
city              Los Angeles Mexico City    Moscow     Mumbai  New York
timestamp  season
2010-01-01 winter         NaN         NaN       NaN        NaN       NaN
2010-01-02 winter         NaN         NaN       NaN        NaN       NaN
2010-01-03 winter         NaN         NaN       NaN        NaN       NaN
2010-01-04 winter         NaN         NaN       NaN        NaN       NaN
2010-01-05 winter         NaN         NaN       NaN        NaN       NaN
...                       ...         ...       ...        ...       ...
2019-12-25 winter   17.427131   12.276647 -5.682519  25.718373  1.992618
2019-12-26 winter   16.728230   12.194955 -6.068530  25.570800  1.564273
2019-12-27 winter   16.767002   12.228129 -6.568609  25.243221  0.805118
2019-12-28 winter   16.404730   11.706254 -7.217806  25.143989  0.196006
2019-12-29 winter   15.879034   11.681801 -7.873949  25.108460 -0.470164


city                  Paris Rio de Janeiro  Singapore     Sydney     Tokyo
timestamp  season
2010-01-01 winter       NaN            NaN        NaN        NaN       NaN
2010-01-02 winter       NaN            NaN        NaN        NaN       NaN
2010-01-03 winter       NaN            NaN        NaN        NaN       NaN
2010-01-04 winter       NaN            NaN        NaN        NaN       NaN
2010-01-05 winter       NaN            NaN        NaN        NaN       NaN
...                     ...            ...        ...        ...       ...
2019-12-25 winter  6.221468      19.671150  27.988502  13.091584  6.836294
2019-12-26 winter  5.779378      19.646357  27.902243  12.975300  6.565787
2019-12-27 winter  5.470412      19.477851  28.024888  12.252124  6.372843
2019-12-28 winter  5.405637      18.964420  27.956851  11.903053  5.933272
2019-12-29 winter  4.773962      18.965168  28.090600  11.783304  5.932806

[3650 rows x 15 columns]

In [28]:
means = windowed_mean.groupby(['season']).mean()
means

       temperature                                                          \
city       Beijing     Berlin      Cairo      Dubai     London Los Angeles
season
autumn   17.919665  12.487204  26.579919  31.599519  12.869915   20.774668
spring   10.690271   8.519459  23.500174  28.578253  10.158583   17.710125
summer   24.601732  18.409229  33.312668  38.803534  16.690449   23.962316
winter    1.241367   2.208770  16.655950  21.710831   6.275277   15.612969

                                                                               \
city   Mexico City     Moscow     Mumbai   New York      Paris Rio de Janeiro
season
autumn   15.562455   9.616752  30.461171  16.939481  14.165938      25.645801
spring   17.210233   2.786821  29.311373   8.370122  10.468407      24.168399
summer   19.557432  15.889036  34.231623  22.698860  18.768762      29.073560
winter   12.448275  -6.956370  25.591371   2.359141   5.807635      20.771946


city    Singapore     Sydney      Tokyo
season
autumn  27.109853  20.913684  19.388594
spring  28.158303  16.983223  13.577173
summer  28.098956  23.777531  24.911932
winter  27.059807  13.634781   8.143484

In [29]:
stds = pivoted_table.groupby(['season']).std()
stds

       temperature                                                      \
city       Beijing    Berlin     Cairo     Dubai    London Los Angeles
season
autumn    4.832178  5.170156  5.062539  4.976926  5.051729    4.651070
spring    4.845643  4.849606  4.964612  5.117609  5.071988    4.933045
summer    5.171091  5.084575  5.000939  4.904027  4.806506    5.194007
winter    5.146072  5.057856  5.206094  5.129234  4.988011    5.245922

                                                                           \
city   Mexico City    Moscow    Mumbai  New York     Paris Rio de Janeiro
season
autumn    4.978501  5.040067  5.203645  5.037024  4.964495       5.148096
spring    5.068327  5.013059  5.247721  4.933184  5.002952       5.093772
summer    4.996603  5.023390  4.972000  5.156615  4.997147       5.110380
winter    5.099565  5.114011  5.267150  4.972782  5.030396       5.028869


city   Singapore    Sydney     Tokyo
season
autumn  4.952991  5.136364  4.805337
spring  5.043087  5.006475  4.966573
summer  4.912971  5.158108  4.938564
winter  4.929392  4.913530  5.035544

In [90]:
pd.to_pickle(stds, 'stds.pkl')
pd.to_pickle(means, 'means.pkl')

In [404]:
%%writefile temperature_analysis.py

# stds = pd.read_pickle('stds.pkl')
# means = pd.read_pickle('means.pkl')

def compute_anomalies_on_chunk(chunk):
  import numpy as np
  import pandas as pd
  chunk, mean, std = chunk
  anomalies = np.argwhere(np.abs(chunk-mean) > std*2)
  np.savetxt('tests/'+str(np.random.randint(0,1000))+'.txt', anomalies)
  # return anomalies


def compute_anomalies_on_chunk_old(chunk):
  import numpy as np
  import pandas as pd
  chunk, mean, std = chunk
  anomalies = chunk[(np.abs(chunk['temperature']-mean) > std*2)].index
  return anomalies

Overwriting temperature_analysis.py

In [81]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [212]:
import temperature_analysis

In [230]:
chunks = [(data[np.logical_and(data['city'] == city,data['season']==season)]['temperature'],means['temperature'][city][season],stds['temperature'][city][season])
           for city in [item[1] for item in stds.columns] for season in stds.index]

In [305]:
%%timeit
# %%prun
anomaly_indexes = []
for chunk in chunks:
    temperature_analysis.compute_anomalies_on_chunk(chunk)
    # anomaly_indexes.extend()

34.4 ms ± 924 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [99]:
from multiprocessing import Pool

In [304]:
%%timeit
# %%prun
with Pool(12) as pool:
    pool.map(temperature_analysis.compute_anomalies_on_chunk, chunks)
    # results = pool.map(temperature_analysis.compute_anomalies_on_chunk, chunks)

# np.concat(results)

755 ms ± 35.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [140]:
import concurrent

In [303]:
%%timeit
# %%prun
for part in range(0, len(chunks), 64):
  partition = chunks[part:(part+1)*64]
  with concurrent.futures.ThreadPoolExecutor(max_workers=4) as executor:
    futures = [executor.submit(temperature_analysis.compute_anomalies_on_chunk, chunk) for chunk in partition]

# anomaly_indexes = []
# for future in futures:
#   anomaly_indexes.extend(future.result())

28.8 ms ± 1.62 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Слишком мало данных и слишком простые операции + тот факт, что под капотом вызывается numpy - тормозит весь процесс сильно, так что ускорения тут почти не получить

In [405]:
chunks = [(data[np.logical_and(data['city'] == city,data['season']==season)],means['temperature'][city][season],stds['temperature'][city][season])
           for city in [item[1] for item in stds.columns] for season in stds.index]

In [406]:
anomaly_indexes = []
for chunk in chunks:
    anomaly_indexes.extend(temperature_analysis.compute_anomalies_on_chunk_old(chunk))

In [409]:
data.iloc[sorted(anomaly_indexes)]

              city  timestamp  temperature  season
3         New York 2010-01-04    -8.182986  winter
6         New York 2010-01-07    13.717114  winter
12        New York 2010-01-13    -9.097868  winter
27        New York 2010-01-28   -10.397787  winter
30        New York 2010-01-31    -9.975331  winter
...            ...        ...          ...     ...
54639  Mexico City 2019-09-10    26.604781  autumn
54643  Mexico City 2019-09-14     4.847278  autumn
54666  Mexico City 2019-10-07    29.648556  autumn
54691  Mexico City 2019-11-01    31.309295  autumn
54729  Mexico City 2019-12-09    -0.842837  winter

[3021 rows x 4 columns]

# Part 2

In [326]:
import requests

In [376]:
cities_data = {'Beijing':[39.901850, 116.391441], 'Berlin':[52.516259, 13.377217], 'Cairo':[30.050755, 31.246909], 'Dubai':[25.229762, 55.289311],
               'London':[51.507351, -0.127696], 'Los Angeles':[34.055863, -118.246139], 'Mexico City':[19.432605, -99.133296],
               'Moscow':[55.755864, 37.617698], 'Mumbai':[18.932425, 72.831711], 'New York':[40.714627, -74.002863], 'Paris':[48.856663, 2.351556],
               'Rio de Janeiro':[-22.905722, -43.189130], 'Singapore':[1.292703, 103.846963], 'Sydney':[-33.865255, 151.216484], 'Tokyo':[35.681729, 139.753927]}

In [441]:
api_key = '<YOUR_API_KEY>'
city = 'Beijing'

In [442]:
req = requests.get(f'https://api.openweathermap.org/data/2.5/weather?lat={cities_data[city][0]}&lon={cities_data[city][1]}&appid={api_key}')

In [443]:
req.json()['main']['temp'] - 272.15

7.939999999999998

In [429]:
import datetime

In [444]:
timestamp = datetime.datetime.now()

In [445]:
def determine_season(timestamp):
  season_map = {1:'winter',2:'winter',3:'spring',4:'spring',5:'spring',6:'summer',7:'summer',8:'summer',9:'autumn',10:'autumn',11:'autumn',12:'winter'}
  return season_map[timestamp.month]

In [446]:
mean, std = means['temperature'][city][determine_season(timestamp)], stds['temperature'][city][determine_season(timestamp)]

In [447]:
'Anomaly' if np.abs(req.json()['main']['temp'] - 272.15-mean) > std*2 else 'Normal'

'Normal'

In [ ]:
np.abs(req.json()['main']['temp'] - 272.15 -mean)

In [439]:
for city in cities_data:
  req = requests.get(f'https://api.openweathermap.org/data/2.5/weather?lat={cities_data[city][0]}&lon={cities_data[city][1]}&appid={api_key}')
  mean, std = means['temperature'][city][determine_season(timestamp)], stds['temperature'][city][determine_season(timestamp)]
  print(city, req.json()['main']['temp'] - 272.15, 'Anomaly' if np.abs(req.json()['main']['temp'] - 272.15 -mean) > std*2 else 'Normal')

Beijing 7.939999999999998 Normal
Berlin 3.5400000000000205 Normal
Cairo 17.400000000000034 Normal
Dubai 25.99000000000001 Normal
London 11.910000000000025 Normal
Los Angeles 17.03000000000003 Normal
Mexico City 11.5 Normal
Moscow -1.2799999999999727 Normal
Mumbai 31.950000000000045 Normal
New York -3.079999999999984 Normal
Paris 10.939999999999998 Normal
Rio de Janeiro 24.939999999999998 Normal
Singapore 26.920000000000016 Normal
Sydney 21.29000000000002 Normal
Tokyo 11.430000000000007 Normal

Асинхронность поможет сократить время ожидания для набора запросов до (примерно) времени ожидания самого долгого, но в streamlit нам она не нужна, потому что мы выполняем один запрос и не сможем его обработать быстрее чем он придёт

# Part 3

In [377]:
import pickle

In [378]:
with open('cities_data.pkl', 'wb') as f:
  pickle.dump(cities_data, f)

In [467]:
req.json()['weather'][0]

{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}

In [479]:
%%writefile streamlit/app.py

import pandas as pd
import streamlit as st
import pickle
import plotly.express as px
import temperature_analysis
import numpy as np
import datetime
import requests


def determine_season(timestamp):
  season_map = {1:'winter',2:'winter',3:'spring',4:'spring',5:'spring',6:'summer',7:'summer',8:'summer',9:'autumn',10:'autumn',11:'autumn',12:'winter'}
  return season_map[timestamp.month]

@st.cache_data
def process_data_file(data):
  pivoted_table = data.pivot_table(['temperature'], ['timestamp','season'], ['city'])
  windowed_mean = pivoted_table.rolling(window=30).mean()
  means = windowed_mean.groupby(['season']).mean()
  stds = pivoted_table.groupby(['season']).std()
  return means, stds

def show_main_page():
    with open('cities_data.pkl', 'rb') as f:
      cities_data = pickle.load(f)
    historical_data = st.file_uploader('Upload historical data')

    if not historical_data:
      st.write('#### Please provide csv file with historical temperature data')
      st.stop()

    data = pd.read_csv(historical_data)
    means, stds = process_data_file(data)
    city = st.sidebar.selectbox('City', cities_data.keys())
    api_key = st.sidebar.text_input('Api_key')
    new_table = pd.DataFrame([means['temperature'][city], stds['temperature'][city]], index=['Mean temperature','Standart deviation'])
    st.table(new_table)

    anomalies = []
    chunks = [(data[np.logical_and(data['city'] == city,data['season']==season)],means['temperature'][city][season],stds['temperature'][city][season]) for season in ['autumn', 'spring', 'summer', 'winter']]
    for chunk, season in zip(chunks, ['autumn', 'spring', 'summer', 'winter']):
      anomalies.extend(temperature_analysis.compute_anomalies_on_chunk_old(chunk))

    data.loc[:, 'anomaly'] = 'Normal'
    data.loc[anomalies, 'anomaly'] = 'Anomaly'

    fig1 = px.scatter(data[data['city']==city], x='timestamp', y='temperature', color='anomaly',
             color_discrete_sequence=px.colors.qualitative.G10)
    st.plotly_chart(fig1)

    if api_key is '':
      st.write('**For data analysis of current weather please provide api_key**')
      st.stop()

    req = requests.get(f'https://api.openweathermap.org/data/2.5/weather?lat={cities_data[city][0]}&lon={cities_data[city][1]}&appid={api_key}')

    if req.status_code == 401:
      st.write('**Your API_KEY is invalid.**')
      st.write('Possibly you need to wait for activation 2-3 hours')
      st.stop()

    season = determine_season(datetime.datetime.now())
    mean,std = new_table[season]
    temp = round(req.json()['main']['temp'] - 272.15, 1)
    icon = req.json()['weather'][0]['icon']
    description = req.json()['weather'][0]['description']

    anomalious_weather = np.abs(temp -mean) > std*2
    col1, col2 = st.columns([0.2,0.8])
    with col1:
      st.image(f'https://openweathermap.org/img/wn/{icon}@2x.png')
    with col2:
      st.write(f'**Current status is** {"Anomalious" if anomalious_weather else "Normal"}')
      st.write(f'**Current temperature:** {temp}')
      st.write(f'**Current description:** {description}')

if __name__ == "__main__":
    show_main_page()

Overwriting streamlit/app.py